
{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div id="swagger-ui-container" class="swagger-ui-wrap">
    <div class="heading">
    <h2>Authentication API</h2>
      <ul class="options">
        <li>
          <a href="api/rest_auth" class="toggleEndpointList">Swagger</a>
        </li>
        <li>
          <a href="api/rest_auth?format=openapi">Open API</a>
        </li>
      </ul>
    </div> 
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">
    <div class="heading">
    <h2>Bookmark API</h2>
      <ul class="options">
        <li>
          <a href="api/bookmark" class="toggleEndpointList">Swagger</a>
        </li>
        <li>
          <a href="api/bookmark?format=openapi">Open API</a>
        </li>
      </ul>
    </div> 
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">
    <div class="heading">
    <h2>Storage API</h2>
      <ul class="options">
        <li>
          <a href="api/storage" class="toggleEndpointList">Swagger</a>
        </li>
        <li>
          <a href="api/storage?format=openapi">Open API</a>
        </li>
      </ul>
    </div> 
</div>

{% endblock %}
