[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=webdev
Group=webdev
RuntimeDirectory=gunicorn
#EnvironmentFile=/www/webmarks/mywebmarks-backend/compose/centos/gunicorn-ip-local.env
WorkingDirectory=/www/webmarks/mywebmarks-backend
Environment=DJANGO_DEBUG=false
ExecStartPre=chdir /www/webmarks/mywebmarks-backend
ExecStart=/www/mywebmarks-backend/env/bin/gunicorn -b 163.172.48.36:8000  --pid /run/gunicorn/pid  -w 5 --threads 5 --env DJANGO_DEBUG=False --env DJANGO_SETTINGS_MODULE=config.settings.local config.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
